.page {
    text-align: left;
}

.page-title {
    color: #333333;
    font-size: 2.5em;
    margin-bottom: 30px;
    border-bottom: 2px solid #333333;
    padding-bottom: 5px;
}

.page-content {
    margin-top: 30px;
}

.page-content p {
    color: black;
    font-size: 1.1em;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .page-title {
        font-size: 2em;
    }
}
